/* styles.css */

input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    /* Учитывает padding и border в ширине */
}

/* Стили для формы */
.form-container {
    max-width: 500px;
    margin: 20% auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Стили для полей ввода */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Стили для кнопки */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Стили для меток */
.form-container label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Стили для ошибок */
.form-container .errorlist {
    color: red;
    list-style-type: none;
    padding: 0;
}